<div id="container">
  <header>
    <h1>ritutė</h1>
    <h2>rita bancewicz</h2>
    <h3>web software engineer</h3>
    <div id="flower">
      <div id="flower-outer"></div>
      <div id="flower-inner"></div>
    </div>
  </header>
  <div id="playgrounds">
    <ul>
      <li id="web">web</li>
      <li id="mobile">mobile</li>
      <li id="software">software</li>
      <li id="engineering">engineering</li>
      <li id="design">design</li>
      <li id="networks">networks</li>
      <li id="entrepreneurship">entrepreneurship</li>
    </ul>
  </div>
  <div id="separator"></div>
  <div id="social">
    <ul>
      <li id="google"><a href="http://bit.ly/NiDspw">google+</a></li>
      <li id="linkedin"><a href="http://linkd.in/mEveEj">linkedIn</a></li>
      <li id="facebook"><a href="http://on.fb.me/lkyjsL">facebook</a></li>
      <li id="twitter"><a href="http://bit.ly/kgqgJq">twitter</a></li>
      <li id="github"><a href="http://bit.ly/iRymn8">github</a></li>
    </ul>
  </div>
  <footer>
    <span class="email">
  <a href="http://www.google.com/recaptcha/mailhide/d?k=01rblBKrLEPttG5lvO2cSJFA==&amp;c=H_sTwZUTBepV0RnaUIbJAg==" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501rblBKrLEPttG5lvO2cSJFA\75\75\46c\75H_sTwZUTBepV0RnaUIbJAg\75\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">r...a@ritute.com</a>
    </span>
  </footer>
</div>
